<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Add Team Member</title>
</head>
<body>
    <header>
        <h1>QuickTeam</h1>
    </header>
    <main>
        <h2>Welcome to QuickTeam!</h2>
        <p>Enter your name below to join <%= adminName %>&apos;s team.
            <br>
            You will always log in with the link that brought you here.
        </p>
        <form action="/addSubUser/<%= adminId %>/<%= passKey %>" method="POST">
            <input type="text" name="userName" placeholder="User Name">
            <input type="submit">
        </form>
    </main>
</body>
</html>