<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <title>Add Team Member</title>
</head>
<body>
    <header>
        <h1>QuickTeam</h1>
    </header>
    <main>
        <h2>Welcome to QuickTeam!</h2>
        <p>Enter your name below to join <%= adminName %>&apos;s team.</p>
        

        <form action="/addSubUser/<%= adminId %>/<%= passKey %>" method="POST">
            <input class='text' type="text" name="userName" placeholder="User Name">
            <input class='submit' type="submit">
        </form>

    </main>

    <footer>
        <p>Want to create your own team?</p>
        <a class="btn-2" href="/">Go Home</a>
    </footer>
</body>
</html>