<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>QuickTeam</title>
</head>
<body>
    <header>
        <h1>QuickTeam</h1>
    </header>
    
    <main>
        <h2>Welcome to QuickTeam!</h2>

        <div class="btns">
        <a class="btn-1" href="/login"> Login</a>
        <a class="btn-1" href="/signup"> Signup</a>
        </div>

        <p class="margin-top-50">Looking to join someone else's team? Use the link they provided to you!</p>

    </main>
</body>
</html>