/* REM */
html {
    font: 62.5%; /*1 rem = 10 px */
}


/*********** BODY *************/


body {
    display: grid;
    grid-template-areas: 
      "header header header"
      "main main main"
      "footer footer footer";
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    max-width: 400px;
    margin: auto;
    font-size: 1.6rem;
    color: #242423;
    background-color: white;
}

body * {
    display: inline-block;
    box-sizing: border-box;
}

/******* HEADER *******/
header {
    font-size: 2em;
    grid-area: header;
    align-self: center;
    justify-self: center;
}
  

/******* MAIN *******/
main {
    grid-area: main;
    align-self: center;
    justify-self: center;
    height: 100%;
    width: 95%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/* TODO Item */
ul {
    width: 100%;
    margin-top: 40%;
}

.todo-item {
    height: 33%;
    width: 100%;
    display: grid;
    grid-template-areas: "button todo assignment delete";
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    align-content: center;
    border-radius: 3px;
    padding: 3px;
    background-color: #FCEDC5;
}

.todo-item:nth-child(2n) {
    background-color: #FBE7B1;
}

/* Button */
.todo-button {
    grid-area: button;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 2px solid #786F68;
    background-color: #F6F5F4;
    margin-right: 8px;
}

.todo-button.completed{
    background-color: #8F857D;
}

/* TODO Name */
.todo {
    grid-area: todo;
}
.todo-assignment {
    grid-area: assignment;
    font-size: .8rem;
    justify-self: end;
    margin-right: 12px;
    color: #8F857D;
}
.completed{
    color: #8F857D;
    text-decoration: line-through #8F857D;
}

/* Delete Button */
.delete-button {
    grid-area: delete;
    justify-self: end;
    margin-right: 5px;
    font-size: 1rem;
}


/* Add Note */
.create-todo {
    display: flex;
    align-items: center;
    padding: 3px;
    margin: 40px 10px 10px 10px;
    height: 40px;
}

    .create-todo * {
        height: 95%;
        margin: 5px;
    }

    .todo-input {
        width: 100%;
        padding-left: 5px;
        font-size: 1.2rem;

    }

    .create-todo .submit {
        width: 60px
    }


/* Tasks Left */
.tasks-left {
    margin-top: auto;
    margin-bottom: 10px;
}

/******* FOOTER *******/
footer {
    grid-area: footer;
    align-self: center;
    justify-self: center;
    margin: .5rem 0;
}