/* REM */
html {
    font-size: 62.5%; /*1 rem = 10 px */
}


/*********** BODY *************/


body {
    display: grid;
    grid-template-areas: 
      "header header header"
      "main main main"
      "footer footer footer";
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    max-width: 400px;
    margin: auto;
    font-size: 2rem;
    color: #242423;
    background-color: #F6F5F4;
}

body * {
    display: inline-block;
    box-sizing: border-box;
}

/******* HEADER *******/
header {
    grid-area: header;
    align-self: center;
    justify-self: center;
    margin: 20px 0;
}
header h1 {
    font-size: 4rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
    color: #EFB61A;
    text-decoration: underline overline #333533;
}
  

/******* MAIN *******/
main {
    grid-area: main;
    align-self: center;
    justify-self: center;
    height: 100%;
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

/* TODO Item */
ul {
    width: 100%;
    border-radius: 5px;
}

.todo-item {
    height: 3rem;
    width: 100%;
    display: grid;
    grid-template-areas: "button todo assignment delete";
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    align-content: center;
    padding: 3px;
    background-color: #FCEDC5;
}

.todo-item:nth-child(2n) {
    background-color: #FBE7B1;
}

/* Button */
.todo-button {
    grid-area: button;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    border: 2px solid #786F68;
    background-color: #F6F5F4;
    margin-right: 8px;
    cursor: pointer;
}

.todo-button.completed{
    background-color: #8F857D;
}

/* TODO Name */
.todo {
    grid-area: todo;
    font-size: 1.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.todo-assignment {
    grid-area: assignment;
    font-size: 1.2rem;
    justify-self: end;
    margin-right: 12px;
    color: #8F857D;
}
.completed{
    color: #8F857D;
    text-decoration: line-through #8F857D;
}

/* TODO Assignment */
.assign-user {
    grid-area: assignment;
    width: fit-content;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    color: #8F857D;
    border: none;
    border-radius: 5px;
    background-color: inherit;
    padding: 5px;
    cursor: pointer;
}
.assign-user:focus {
    outline: none;
    border-color: #F6B579;
}

/* Delete Button */
.delete-button {
    grid-area: delete;
    justify-self: end;
    margin-right: 5px;
    font-size: 1rem;
    color: #786F68;
    cursor: pointer;
}

/* Input Footer */
.input-footer {
    grid-area: footer;
    position: sticky;
    bottom: 0;
    background-color: #F6F5F4;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/* Add Note */
.create-todo {
    display: flex;
    align-items: center;
    padding: 3px;
    margin: 20px 10px 10px 10px;
    height: 40px;
}

    .create-todo * {
        height: 95%;
        margin: 5px;
    }

    .todo-input {
        width: 100%;
        padding-left: 5px;
        font-size: 1.2rem;
        border: 2px solid #786F68;
        border-radius: 5px;

    }

    .create-todo .submit {
        width: 60px;
        border: 2px solid #786F68;
        border-radius: 5px;
        background-color: #F6D579;
    }

    .create-todo .submit:hover {
        background-color: #F6B579;
        border-color: #786F78;
        cursor: pointer;
    }


/* Tasks Left */
.tasks-left {
    font-size: 1.1rem;
    margin-bottom: 40px;
}

/******* FOOTER *******/
footer {
    width: 100%;
    max-width: 40rem;
    grid-area: footer;
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: .5rem 0;
    position: fixed;
    bottom: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
    footer a {
        height: 100%;
        border: 2px solid #242423;
        border-radius: 5px;
        font-size: 1.6rem;
        padding: 3px;
        color:#F6F5F4;
        background-color: #333533;
        text-decoration: none;
    }
    footer a:hover {
        background-color: #F6B579;
        border-color: #786F78;
        cursor: pointer;
    }
